# Setup - Install Libraries

In [ ]:
# Run the following commands once, in order to install libraries - DO NOT Uncomment this line.

# Uncomment below lines

# !pip3 install --upgrade pip
# !pip3 install google-cloud-bigquery
# !pip3 install pandas-gbq -U
# !pip3 install db-dtypes
# !pip3 install packaging --upgrade

# Import libraries

In [1]:
# Import libraries
from google.cloud import bigquery
import pandas as pd
from pandas_gbq import to_gbq
import os

print('Libraries imported successfully')

/Users/LoukasA/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

Libraries imported successfully

In [2]:
# Set the environment variable for Google Cloud credentials
# Place the path in which the .json file is located.

# Example (if .json is located in the same directory with the notebook)
# os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "at-arch-416714-6f9900ec7.json"

# -- YOUR CODE GOES BELOW THIS LINE
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/LoukasA/scripts/robust-arcadia-453221-u5-39c3cc6a4e86.json" # Edit path
# -- YOUR CODE GOES ABOVE THIS LINE

In [3]:
# Set your Google Cloud project ID and BigQuery dataset details

# -- YOUR CODE GOES BELOW THIS

project_id = 'robust-arcadia-453221-u5' # Edit with your project id
dataset_id = 'reporting_db' # Modify the necessary schema name: staging_db, reporting_db etc.
table_id = 'rep_revenue_per_customer_and_period' # Modify the necessary table name: stg_customer, stg_city etc.

# -- YOUR CODE GOES ABOVE THIS LINE

# SQL Query

In [4]:
# Create a BigQuery client
client = bigquery.Client(project=project_id)

# -- YOUR CODE GOES BELOW THIS LINE

# Define your SQL query here
query = """
with films as(
  select *
  from robust-arcadia-453221-u5.staging_db.stg_film
)

, inventory as(
  select *
  from robust-arcadia-453221-u5.staging_db.stg_inventory
)

, rentals as(
  select *
  from robust-arcadia-453221-u5.staging_db.stg_rental
)

-- the below CTE creates the film dataset that should be considered, which excludes certain values
, film_inclusion as(
  select
    rentals.rental_id,
    films.film_id,
    films.film_title,
    film_rental_duration
  from rentals
  left join inventory
    on rentals.inventory_id = inventory.inventory_id
  left join films
    on inventory.film_id = films.film_id
  where films.film_title != 'GOODFELLAS SALUTE'
)

, payments as(
  select
    rental_id,
    payment_date,
    customer_id,
    payment_amount
  from robust-arcadia-453221-u5.staging_db.stg_payment
)

-- the below CTE is adjusted by including an inner join to keep only the film ids we want
, payments_adj as(
  select
    payments.rental_id,
    payments.payment_date,
    payments.customer_id,
    payments.payment_amount
  from payments
  inner join film_inclusion
    on payments.rental_id = film_inclusion.rental_id
)

, customer as(
  select *
  from robust-arcadia-453221-u5.staging_db.stg_customer
)

, reporting_dates as(
  select *
  from robust-arcadia-453221-u5.reporting_db.reporting_periods_table
  where reporting_period in ('Day','Month','Year')
)

, revenue_per_period as(
  select
    'Day' as reporting_period
    , date_trunc(payments_adj.payment_date, day) as reporting_date
    , customer.customer_id
    , sum(payment_amount) as total_revenue
  from payments_adj
  left join customer on payments_adj.customer_id = customer.customer_id
  group by 1, 2, 3

  union all

  select
    'Month' as reporting_period
    , date_trunc(payments_adj.payment_date, month) as reporting_date
    , customer.customer_id
    , sum(payment_amount) as total_revenue
  from payments_adj
  left join customer on payments_adj.customer_id = customer.customer_id
  group by 1, 2, 3

  union all

  select
    'Year' as reporting_period
    , date_trunc(payments_adj.payment_date, year) as reporting_date
    , customer.customer_id
    , sum(payment_amount) as total_revenue
  from payments_adj
  left join customer on payments_adj.customer_id = customer.customer_id
  group by 1, 2, 3
)

, final as(
  select
    reporting_dates.reporting_period
   , reporting_dates.reporting_date
   , revenue_per_period.customer_id
   , revenue_per_period.total_revenue
  from reporting_dates
  inner join revenue_per_period
    on reporting_dates.reporting_period = revenue_per_period.reporting_period
    and reporting_dates.reporting_date = revenue_per_period.reporting_date
  where reporting_dates.reporting_period = 'Day'
  
  union all

  select
    reporting_dates.reporting_period
   , reporting_dates.reporting_date 
   , revenue_per_period.customer_id
   , revenue_per_period.total_revenue
  from reporting_dates
  inner join revenue_per_period
    on reporting_dates.reporting_period = revenue_per_period.reporting_period
    and reporting_dates.reporting_date = revenue_per_period.reporting_date
  where reporting_dates.reporting_period = 'Month'

  union all

  select
    reporting_dates.reporting_period
   , reporting_dates.reporting_date 
   , revenue_per_period.customer_id
   , revenue_per_period.total_revenue
  from reporting_dates
  inner join revenue_per_period
    on reporting_dates.reporting_period = revenue_per_period.reporting_period
    and reporting_dates.reporting_date = revenue_per_period.reporting_date
  where reporting_dates.reporting_period = 'Year'
)

select *
from final
"""

# -- YOUR CODE GOES ABOVE THIS LINE

# Execute the query and store the result in a dataframe
df = client.query(query).to_dataframe()

# Explore some records
df.head()

/Users/LoukasA/Library/Python/3.9/lib/python/site-packages/google/cloud/bigquery/table.py:1900: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  reporting_period reporting_date  customer_id  total_revenue
0             Year     2022-01-01            1  118.680000000
1             Year     2022-01-01            2  128.730000000
2             Year     2022-01-01            3  135.740000000
3             Year     2022-01-01            4   81.780000000
4             Year     2022-01-01            5  144.620000000

# Write to BigQuery

In [5]:
# Define the full table ID
full_table_id = f"{project_id}.{dataset_id}.{table_id}"

# -- YOUR CODE GOES BELOW THIS LINE
# Define table schema based on the project description

schema = [
    bigquery.SchemaField('reporting_period', 'STRING'),
    bigquery.SchemaField('reporting_date', 'DATE'),
    bigquery.SchemaField('customer_id', 'INTEGER'),
    bigquery.SchemaField('total_revenue', 'NUMERIC')
    ]

# -- YOUR CODE GOES ABOVE THIS LINE

In [6]:
# Create a BigQuery client
client = bigquery.Client(project=project_id)

# Check if the table exists
def table_exists(client, full_table_id):
    try:
        client.get_table(full_table_id)
        return True
    except Exception:
        return False

# Write the dataframe to the table (overwrite if it exists, create if it doesn't)
if table_exists(client, full_table_id):
    # If the table exists, overwrite it
    destination_table = f"{dataset_id}.{table_id}"
    # Write the dataframe to the table (overwrite if it exists)
    to_gbq(df, destination_table, project_id=project_id, if_exists='replace')
    print(f"Table {full_table_id} exists. Overwritten.")
else:
    # If the table does not exist, create it
    job_config = bigquery.LoadJobConfig(schema=schema)
    job = client.load_table_from_dataframe(df, full_table_id, job_config=job_config)
    job.result()  # Wait for the job to complete
    print(f"Table {full_table_id} did not exist. Created and data loaded.")

Table robust-arcadia-453221-u5.reporting_db.rep_revenue_per_customer_and_period did not exist. Created and data loaded.